@import "toolbar";

.forsythia {
    width: 800px;
    margin: auto;
    color: #333;
    font-size: 16px;
    font-family: Helvetica Neue,Helvetica,Lantinghei sc,Microsoft Yahei,SimHei;
    * {
        box-sizing: border-box;
    }
    .editor-toolbar {
        padding: 10px;
        height: 47px;
        width: 100%;
        border: 1px solid #d5d5d5;
    }
    .editor-content {
        outline: none;
        padding: 10px;
        border: 1px solid #d5d5d5;
        border-top: none;
    }
}
